{% extends "base.html" %}

{% block title %}EventHub | Главная{% endblock %}

{% block content %}
<section class="hero-shell">
    <div class="container">
        <div class="row hero-grid">
            <div class="col s12 l7">
                <span class="eyebrow">University Event Platform</span>
                <h1 class="hero-title">Публикуйте, находите и управляйте событиями в одном месте.</h1>
                <p class="hero-copy">
                    EventHub помогает университетским командам вести календарь мероприятий, публиковать анонсы
                    и постепенно вырастает в полноценную систему управления событиями.
                </p>

                <!-- КНОПКА СОЗДАНИЯ КВЕСТА/ИВЕНТА -->
                <div style="margin-top: 24px;">
                    <a href="{% url 'events:event_create' %}" class="btn-large amber darken-2 waves-effect waves-light">
                        + Создать квест
                    </a>
                    <a href="{% url 'events:event_list' %}" class="btn-large btn-flat waves-effect"
                        style="margin-left: 12px;">
                        Все квесты
                    </a>
                </div>

            </div>
            <div class="col s12 l5">
                <div class="hero-panel z-depth-0">
                    <p class="panel-label">Что уже есть в проекте</p>
                    <ul class="browser-default">
                        <li>Django 5.2 project и app structure</li>
                        <li>маршрутизация и views</li>
                        <li>template inheritance</li>
                        <li>Material Design UI base</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}